.cart{
    background-color: #d8d8d8;
    width: 20%;
    padding-left: 80%;
    height: 60px;
    font-size: 21px;
    padding-top: 1px;
}

.list{
    margin-left: -37px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.catalog{

    border-radius: 4px;
    height: 25px;
    width: 250px;
    margin-top: 8px;
    font-size: 20px;
}

.image{
    width: 300px;
    height: 250px;
}

.image_detail{
    margin-left: 40px;
    margin-top: 40px;
    width: 300px;
    height: 250px;
}

.image_cart {
    width: 250px;
    height: 200px;
}

.shop{
    display: flex;
}

.products{
    padding-left: 40px;


}

.product_wrapper {
    display: flex;
    gap: 60px;

}

.category_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.detail {
    margin-top: 13px;
}

#id_quantity {
    background-color: #0563af;
    color: white;
    padding: 6px;
    width: 150px;
    border-radius: 8px;
}

label {
    font-size: 24px;
}

.add_cart {
    background-color: #2196f3;
    color: white;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
}

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
}

thead{
    background: #4493BB;
    color: white;
}

tbody {
    background: #e3e3e3;
}

th {
    padding: 10px 20px;


    font-size: 16px;
}

th:first-child {
    text-align: left;
}

.cart_products{
    color: black;
    padding-right: 100px;
}

#tr {
    background: #4493BB;
    color: white;
    font-size: 18px;
}

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;

}
td:first-child {
    border-right: none;
}

td:nth-child(2){
    text-align: left;
}

.button {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    margin-left: 1140px;
}

.a {
    background-color: #2196f3;
    margin-right: 30px;
    width: 260px;
    height: 30px;
    border-radius: 3px;

}


