<!DOCTYPE html>
{% extends 'shop/base.html' %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<body>

{% block content %}

<div class="product_wrapper">
    <div>
        <img src="{% if products.image %}{{ products.image.url }}{% else %}{% static 'image/no_image.jpg' %}{% endif %}" class="image_detail">
    </div>
    <div class="detail">
        <h1>{{ products.name }}</h1>
        <h2>₴{{ products.price }}</h2>
        <p>{{ products.description }}</p>
        <form action="{% url 'cart_add' products.id %}" method="POST">
            {% csrf_token %}
            {{ cart_product_form }}
            <button type="submit" class="add_cart">Add to cart</button>
        </form>
    </div>
</div>



{% endblock %}

</body>
</html>