<!DOCTYPE html>
{% extends 'shop/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}




<div class="shop">
    <div class="list">
        <ul>
            {% if category is None %}
                    <div  class="a">
                       <li class="catalog"><a href="{% url 'product_list' %}">All</a></li>
                    </div>
                {% for x in categories %}
                    <li class="catalog"><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></li>
                {% endfor %}
            {% else %}
                <li class="catalog"><a href="{% url 'product_list' %}">All</a></li>
                {% for x in categories %}
                {% with title=x.name|stringformat:"s" %}
                {% with categ=category|stringformat:"s" %}
                <li class="catalog">
                    {% if title == categ %}
                        <div class="a">
                            <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
                        </div>
                    {% else %}
                        <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
                    {% endif %}
                </li>

            {% endwith %}
            {% endwith %}
            {% endfor %}
            {% endif %}

        </ul>
    </div>

    <div class="products">
        {% if category %}
            <h1 class="cat"> {{ category }} </h1>
        {% else %}
            <h1> Products </h1>
        {% endif %}
            <div  class="category_wrapper">
                {% for x in product %}
                    <div>
                        <img src="{% if x.image %}{{ x.image.url }}{% else %}{% static 'image/no_image.jpg' %}{% endif %}" class="image_detail">
                        <h2><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></h2>
                        <p>{{ x.price }}</p>
                    </div>
                {% endfor %}
            </div>
    </div>

</div>




<script type="text/javascript" src="{% static 'shop/script.js' %}"></script>

{% endblock %}

</body>
</html>