<!DOCTYPE html>
{% extends 'shop/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}


<div class="shop">
    <div class="list">
        <ul>
            <li>All</li>
            {% for x in categories %}
                <li>
                    <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="product">
        <h1>Products</h1>
        {% for x in product %}
            <img src="{% if x.image %}{{ x.image.url }}{% else %}{% static 'image/no_image.jpg' %}{% endif %}" class="image">
            <h2><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></h2>
            <p>{{ x.price }}</p>
        {% endfor %}

    </div>

</div>

{% endblock %}



</body>
</html>